p{
    font-family: "Comic Sans";
    font-size:

        {
        12px;
        text-align: center;
            color: blue;}}
  img{
      height: 600px;
      width: 500px;
       body { background-color: black; }
     